<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="public/css/styles.css">

    <title>Chat</title>
</head>

<body class="fade_in" onload="OnLoad()">

<script>
  // define a new console
  const console = (function (oldCons) {
    return {
      log: function (text) {
        oldCons.log(text);
        if (AddLogText)
          AddLogText(`${text}\n`);
      },
      info: function (text) {
        oldCons.info(text);
        if (AddLogText)
          AddLogText({info: true, text: `${text}\n`});
      },
      warn: function (text) {
        oldCons.warn(text);
        if (AddLogText)
          AddLogText({warn: true, text: `${text}\n`});
      },
      error: function (text) {
        oldCons.error(text);
        if (AddLogText)
          AddLogText({error: true, text: `${text}\n`});
        if (AddDisplayText)
          AddDisplayText({error: true, text: `${text}\n`});
      }
    };
  }(window.console));

  //Then redefine the old console
  window.console = console;
</script>

<script>
  function stringify(obj, replacer, spaces, cycleReplacer) {
    return JSON.stringify(obj, serializer(replacer, cycleReplacer), spaces)
  }

  function serializer(replacer, cycleReplacer) {
    let stack = [], keys = []

    if (cycleReplacer == null) cycleReplacer = function (key, value) {
      if (stack[0] === value) return "[Circular ~]"
      return "[Circular ~." + keys.slice(0, stack.indexOf(value)).join(".") + "]"
    }

    return function (key, value) {
      if (stack.length > 0) {
        let thisPos = stack.indexOf(this)
        ~thisPos ? stack.splice(thisPos + 1) : stack.push(this)
        ~thisPos ? keys.splice(thisPos, Infinity, key) : keys.push(key)
        if (~stack.indexOf(value)) value = cycleReplacer.call(this, key, value)
      } else stack.push(value)

      return replacer == null ? value : replacer.call(this, key, value)
    }
  }
</script>

<script>
  function ArmCollapsible(observer) {

    function click() {
      this.classList.toggle("active");
      const content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
      if (observer)
        observer(this);
    }

    const coll = document.getElementsByClassName("collapsible");
    for (let i = 0; i < coll.length; ++i)
      coll[i].addEventListener("click", click);
  }
</script>

<script src="public/javascript/chatgpt.js"></script>

<script>
  let TextToSpeechSupported = false;
  let SpeechInProgress = false;
  let SpeechRecognizer = null
  let speechSynthesis = null;
  let Utter = null;
  let Voices = [];
  let Tivl;

  const BrowserDetail = {};

  function AddLogText(text) {
    if (text.constructor === Object)
      text = text.text;
    LoggerText.value += text;
    LoggerText.scrollTop = LoggerText.scrollHeight;
  }

  function AddDisplayText(text) {
    if (text.constructor === Object)
      text = text.text;
    TxtOutput.value += text;
    TxtOutput.scrollTop = TxtOutput.scrollHeight;
  }

  function OnLoad() {

    ArmCollapsible(function (what) {
        if (what.innerHTML.indexOf('Hide') >= 0)
          what.innerHTML = 'Show Log';
        else
          what.innerHTML = 'Hide Log';
      }
    );

    BrowserDetail.userAgent = navigator.userAgent;

    if ((navigator.userAgent.indexOf("Opera") || navigator.userAgent.indexOf('OPR')) !== -1)
      BrowserDetail.type = 'Opera';
    else if (navigator.userAgent.indexOf("Edg") !== -1)
      BrowserDetail.type = 'Edge';
    else if (navigator.userAgent.indexOf("Chrome") !== -1)
      BrowserDetail.type = 'Chrome';
    else if (navigator.userAgent.indexOf("Safari") !== -1)
      BrowserDetail.type = 'Safari';
    else if (navigator.userAgent.indexOf("Firefox") !== -1)
      BrowserDetail.type = 'Firefox';
    else if ((navigator.userAgent.indexOf("MSIE") !== -1) || (!!document.documentMode === true)) //IF IE > 10
      BrowserDetail.type = 'IE';
    else
      BrowserDetail.type = 'unknown';

    console.log(`Browser: ${BrowserDetail.userAgent}`);

    if (!('webkitSpeechRecognition' in window)) {
      LblSpeechToText.style.display = 'none';
      console.log('Speech to text not supported');
    } else {
      console.log('Speech to text is supported');
    }

    LblSpeak.style.display = 'none';
    LblVocab.style.display = 'none';

    LoadVoices();
  }

  function LoadVoices() {
    if ('speechSynthesis' in window) {
      console.log('Text to speech is supported');
      TextToSpeechSupported = true;
      Tivl = setInterval(() => {
        speechSynthesis = window.speechSynthesis;
        const voices = speechSynthesis.getVoices();
        if (voices.length) {
          clearInterval(Tivl);
          const va = [];
          for (let i = 0; i < voices.length; ++i) {
            const voice = voices[i];
            if (voice.lang.slice(0, 2) === 'en') {
              voice.desc = `${voice.lang} ${voice.name}`;
              va.push(voice);
            }
          }

          // now sort and save them
          Voices = va.sort(function (a, b) {
            function compare(a, b) {
              if (a < b)
                return -1;
              if (a > b)
                return 1;
              return 0;
            }

            if (compare(a.desc, b.desc) === 0)
              return compare(a.name, b.name);
            return compare(a.desc, b.desc);
          });

// now, add them to the drop down select list
          for (let i = 0; i < Voices.length; ++i) {
            const voice = Voices[i];
            const desc = voice.desc;
            SelVoices[SelVoices.length] = new Option(desc, i.toString());
            if (desc.indexOf('Microsoft Mark') >= 0 || desc.indexOf('Daniel') >= 0) {
              console.log(`Setting default voice to ${Voices[i].desc}`);
              SelVoices.value = i;
            }
          }
          console.log(`Loaded ${Voices.length} voices`);
          TextToSpeech(' ');      // prime the speech pump...
        }
      }, 1000);    // one second after page loads
    } else {
      console.log('Text to speech not supported');
      LblTextToSpeech.style.display = 'none';
      ChkMute.checked = true;
    }
  }
</script>

<script>
  function TextToSpeech(text) {
    if (!TextToSpeechSupported || ChkMute.checked)
      return;

    try {
      Utter = new SpeechSynthesisUtterance();

      let sVoice = SelVoices.value;
      if (!(Voices.length && sVoice && sVoice.toString() !== ''))
        return console.log('No voice to use');

      sVoice = parseInt(sVoice.toString());
      Utter.voice = Voices[sVoice];
      Utter.lang = Voices[sVoice].lang;
      console.log(`Speaking ${text} in voice ${Voices[sVoice].desc}`);

      Utter.onerror = function (event) {
        console.error('There was a problem with the SpeechSynthesisUtterance');
      }

      Utter.onend = function () {
        SpeechInProgress = false;
        if (SpeechRecognizer && ChkListen.checked) {
          console.log('Finished talking - can now listen');
          SpeechRecognizer.start();
        }
      }

      if (SpeechRecognizer && ChkListen.checked) {
        console.log('Do not listen to yourself when talking');
        SpeechRecognizer.stop();
      }

      Utter.text = text;
      speechSynthesis.speak(Utter);
      SpeechInProgress = true;
    } catch (err) {
      console.log(`Speaking error: ${err.message}`);
      SpeechInProgress = false;
      if (SpeechRecognizer && ChkListen.checked) {
        console.log('Finished talking - can now listen');
        SpeechRecognizer.start();
      }
    }
  }
</script>

<script>
  function SendChatReq() {

    function sendReq(url, question) {

      textToSpeech = TextToSpeech;
      textToSpeech(' ');      // prime the speech pump...

      const oHttp = new XMLHttpRequest();
      console.log(`Connecting to ${url}`);
      oHttp.open('POST', url);
      oHttp.setRequestHeader('Accept', 'application/json');

      oHttp.onerror = function (err) {
        console.error('There was a problem communicating with the server');
      }

      oHttp.onreadystatechange = function () {
        try {
          if (oHttp.readyState === 4) {
            const body = oHttp.responseText.toString().trim();
            let response;
            if (body && body.length && body.charAt(0) === '{') {
              ChatConfig.chat = JSON.parse(body);
              response = ChatConfig.chat.response.text;
            }
            if (!response)
              response = 'No response';
            while (response.indexOf('assistant:') >= 0 ||
            response.indexOf('Assistant:') >= 0 ||
            response.indexOf('bot:') >= 0 ||
            response.indexOf('Bot:') >= 0) {
              response = response.replace('assistant:', '').replace('bot:', '');
              response = response.replace('Assistant:', '').replace('Bot:', '');
            }
            while (response.indexOf('assistant') === 0 ||
            response.indexOf('Assistant') === 0 ||
            response.indexOf('bot') === 0 ||
            response.indexOf('Bot') === 0) {
              response = response.replace('assistant', '').replace('bot', '');
              response = response.replace('Assistant', '').replace('Bot', '');
            }
            if (response.length <= 0)
              response = 'No response';
            textToSpeech(response);
            AddDisplayText(`Chat GPT: ${response}\n\n`);
            TheQuestion.focus();
          }
        } catch (err) {
          console.log(`Speaking error: ${err.message}`);
          TheQuestion.focus();
        }
      }

      ChatConfig.chat.question = question;
      oHttp.send(stringify(ChatConfig.chat));
    }


    const question = TheQuestion.value.trim();

    if (question === '') {
      alert('Enter a question');
      TheQuestion.value = '';
      TheQuestion.focus();
      return;
    }

    console.log(`Asking: ${question}`);

    sendReq(ChatConfig.proxy.proxyServerUrl, question);

    AddDisplayText(`Me: ${question}\n`);
    TheQuestion.value = '';
    TheQuestion.focus();
  }
</script>

<script>
  function SpeechToText() {

    if (SpeechRecognizer) {
      if (ChkListen.checked)
        SpeechRecognizer.start();
      else
        SpeechRecognizer.stop();
      TheQuestion.focus();
      return;
    }

    SpeechRecognizer = new webkitSpeechRecognition();
    SpeechRecognizer.continuous = true;
    SpeechRecognizer.interimResults = true;
    SpeechRecognizer.lang = 'en-US';
    SpeechRecognizer.start();

    SpeechRecognizer.onresult = function (event) {
      let interimTranscripts = '';
      for (let i = event.resultIndex; i < event.results.length; i++) {
        const transcript = event.results[i][0].transcript;

        if (event.results[i].isFinal) {
          TheQuestion.value = transcript;
          SendChatReq();
        } else {
          transcript.replace('\n', '<br>');
          interimTranscripts += transcript;
        }

        const oDiv = document.getElementById('IdText');
        oDiv.innerHTML = '<span style="color: #999;">' + interimTranscripts + '</span>';
      }
    }

    SpeechRecognizer.onerror = function (event) {
      if (event.error === 'no-speech')
        return;
      if (event.error === 'aborted')
        return;
      console.error('There was a problem with the SpeechRecognizer');
      console.error(event.error);
    }
    TheQuestion.focus();
  }
</script>

<div class="social_links">
    <span><a href="https://www.twitter.com/chatspeak"><i class="fab fa-twitter"></i></a></span>
    <span><a href="https://www.facebook.com/chatspeak"><i class="fab fa-facebook-f"></i></a></span>
    <span><a href="https://www.youtube.com/channel/UCcY9hw5COssAmHzPbD976EQ"><i class="fab fa-youtube"></i></a></span>
    <span><a href="https://www.instagram.com/chatspeak"><i class="fab fa-instagram"></i></a></span>
</div>

<div>
    <a href="/index.html">
        <img class="logoi" src="public/images/logo2.png" alt="">
        <span class="logo1">ChatSpeak</span><span class="logo2">.io</span>
    </a>
</div>

<br>

<div class="menu_list">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/index.html" class="menu_btn">HOME</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/about.html" class="menu_btn">ABOUT</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/portfolio.html" class="menu_btn">PORTFOLIO</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/contact.html" class="menu_btn">CONTACT</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/lookup.html" class="menu_btn">DIVERCTI</a>
</div>

<div id="IdText"></div>

<script>
  function Keydown(key) {
    if (key.keyCode === 13)
      SendChatReq();
  }

  function TempSlide(it) {
    TempSliderValue.innerText = it.value;
    ChatConfig.chat.dialog.temperature = it.value;
  }

  function VocabSlide(it) {
    VocabSliderValue.innerText = it.value;
    ChatConfig.chat.dialog.top_p = it.value;
  }

  function ChangeLang() {
    if (SpeechRecognizer) {
      SpeechRecognizer.lang = 'en-US';
      console.log(`Setting language to ${SelLang.value}`);
    }
  }

  function Mute(b) {
    if (b)
      SelVoices.style.display = 'none';
    else
      SelVoices.style.display = '';
    TheQuestion.focus();
  }
</script>


<div id="IdContainer" class="body_white_arial16_100">

    <textarea id="TxtOutput" rows="20" style="margin-top: 10px; width: 100%;" placeholder="Output"></textarea>

    <textarea id="TheQuestion" onkeydown="Keydown(event)" rows="5" wrap="soft"
              style="resize: none; border-style: none; width: 98%; margin-left: 3px; margin-top: 6px"
              placeholder="Input Text"></textarea>

    <p style="offset: 20px">
        <label id="LblSpeechToText"><input id="ChkListen" type="checkbox" onclick="SpeechToText()"/>Listen</label>
        <label id="LblMute"><input id="ChkMute" type="checkbox" onclick="Mute(this.checked)"/>Mute</label>

        <label id="LblSpeak">
            <button type="button" onclick="SendChatReq()">Click Me!</button>
        </label>

        <label id="LblTextToSpeech">
            <select id="SelLang" onchange="ChangeLang(this)">
                <option value="en-US">English (United States)</option>
                <option value="fr-FR">French (France)</option>
                <option value="ru-RU">Russian (Russia)</option>
                <option value="pt-BR">Portuguese (Brazil)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="de-DE">German (Germany)</option>
                <option value="it-IT">Italian (Italy)</option>
                <option value="pl-PL">Polish (Poland)</option>
                <option value="nl-NL">Dutch (Netherlands)</option>
            </select>

            <select id="SelVoices"></select>
        </label>
        <br>
        Temperature: <span id="TempSliderValue">0</span><input type="range" id="TempSlider"
                                                               min="0"
                                                               max="2"
                                                               value="0"
                                                               step="0.1"
                                                               oninput="TempSlide(this)"/>

        <label id="LblVocab">
            Vocabulary: <span id="VocabSliderValue">1</span><input type="range" id="VocabSlider"
                                                                   min="0"
                                                                   max="1"
                                                                   value="1"
                                                                   step="0.1"
                                                                   oninput="VocabSlide(this)"/>
        </label>
    </p>

    <br>
    <button type="button" class="collapsible">Show Log</button>
    <div class="ccontent" style="display: none;">
        <p>
        <textarea id="LoggerText" rows="5" wrap="soft"
                  style="width: 98%; margin-left: 3px; margin-top: 6px"></textarea>
        </p>
    </div>
</div>

</body>
</html>
