<!DOCTYPE html>

<html lang="en" class="html_star">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="public/css/styles.css">

    <title>Under Construction</title>
</head>


<body class="body_star" onload="onLoad()" style="margin: 0 auto;">

<script>
  function setMenuList() {
    let menuList = '&nbsp;&nbsp;&nbsp;&nbsp;<a href="/index.html" class="menu_btn">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about.html" class="menu_btn">ABOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/portfolio.html" class="menu_btn">PORTFOLIO</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contact.html" class="menu_btn">CONTACT</a>';
    if ('{{express}}' === 'yes')
      menuList = menuList + '&nbsp;&nbsp;&nbsp;&nbsp;<a href="/lookup.html" class="menu_btn">DIVERCTI</a>';
    const menus = document.getElementsByClassName('menu_list');
    if (menus.length > 0)
      menus[0].innerHTML = menuList;
  }
  function onLoad() {
    setMenuList();
  }
</script>

<div class="social_links">
    <span><a href="https://www.twitter.com/zalityllc"><i class="fab fa-twitter"></i></a></span>
    <span><a href="https://www.facebook.com/zalityllc"><i class="fab fa-facebook-f"></i></a></span>
    <span><a href="https://www.youtube.com/channel/UCcY9hw5COssAmHzPbD976EQ"><i class="fab fa-youtube"></i></a></span>
    <span><a href="https://www.instagram.com/zalityllc"><i class="fab fa-instagram"></i></a></span>
</div>

<div>
    <a href="/index.html">
        <img class="logoi" src="public/images/logo2.png" alt="">
        <span class="logo1">Zality</span><span class="logo2">.com</span>
    </a>
</div>
<br>

<div class="menu_list">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/index.html" class="menu_btn">HOME</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/about.html" class="menu_btn">ABOUT</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/portfolio.html" class="menu_btn">PORTFOLIO</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/contact.html" class="menu_btn">CONTACT</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/lookup.html" class="menu_btn">DIVERCTI</a>
</div>

<div class="stars_star" aria-hidden="true"></div>
<div class="stars2_star" aria-hidden="true"></div>
<div class="stars3_star" aria-hidden="true"></div>

<main class="main_star">
    <section class="content_star">
        <h1 class="title_star" style="font-size: 36px">We’ll be back soon!</h1>
        <hr>
        <h2 class="sub_title_star" style="font-size: 18px">Sorry for the inconvenience.
            We’re performing some maintenance at the moment.
            If you need to you can always follow us on
            <a href="https://www.twitter.com/zalityllc"><i class="fab fa-twitter"></i>Twitter</a>
            for updates, otherwise we’ll be back up shortly!</h2>
    </section>
</main>

</body>
</html>
